*{
    font-family: arial,helvetica,sans-serif;
    color:rgb(255, 255, 255);
    margin:0;
    padding:0;
}
.upper_div{

    /* background-color: rgba(0,0,0,.8); */
    /* background-color: #323646; */
    /* background-color: #24272d
    ; */
    /* background-color: #222428; */
    background-color: #12161d;
    color:rgb(255, 255, 255);
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: arial,helvetica,sans-serif;
    /* font-variant-caps: all-petite-caps; */
    padding-bottom:30px;
}
.navbar{
    padding-top:20px;
    display:flex;
    flex-direction:row;
}
.top-left-logo{
    padding-left:60px;
    padding-top:30px;
    
}
.nav-inner {
    position:absolute;
    right:0;
    padding-left:100px;
    display:flex;
    padding-top:40px;
    /* align-self:flex-end; */
    padding-right:40px;
    font-weight:540;
}
.nav-links{
    padding-left:80px;
    font-size:medium;
}
.nav-links:hover{
    cursor:pointer;
}
.upper-2{
    display:flex;
    padding-left:140px;
    padding-top:90px;
}
.upper-2-left{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.upper-2-left h2{
    color: rgb(128, 163, 234);
    font-size: 2.625rem;
    margin-bottom:0;
}
.upper-2-left h3{
    margin-top:0;
    width:350px;
    font-size:4rem;
    margin-bottom:2px;
}
.upper-2-left p{
    width:500px;
    font-size: 1.15rem;
    margin-top:0;
    line-height: 35px;
    font-weight:lighter;
    /* margin-bottom:10px; */
}
.learn-more-btn{
    background-color:#05f;
    border:none;
    color:white;
    height:50px;
    width:150px;
    font-size:1.2rem;
    border-radius: 10px;
    cursor:pointer;
}
.upper-img{
    padding-top:30px;
    padding-left:200px;
    display: flex;
    flex-direction: column;
}
.upper-div-img{
    align-self:flex-start;
    height:600px;
}
.mid-div-1{
    padding-top:50px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:70px;

}
.mid-div-1 h1{
    color: rgb(8, 36, 73);
    font-weight: 800;
    font-size:1.6em;
}
.brand-logos{
    display: flex;
    flex-direction: row;
    color:black
}
.companies{
    align-self: center;;
    width:170px;
    margin:30px;
    cursor:pointer;
}
.brand-logos-2{
    display:flex;
    flex-direction: row;
}
.blackdiv-2{
    display:flex;
    background-color: #12161d;
}
.blackdiv-2 h1{
    padding-top:100px;
    padding-left:110px;
    font-size:4rem;
    width:1000px;
}
.blackdiv-2-images{
    display:flex;
    flex-direction: column;
    width:800px;
}
.blackdiv-2-images img{
    height:220px;
    margin-bottom:50px;
    padding-left:170px;
}
.black-2-right{
    padding-left:90px;
    padding-top:350px;
    display:flex;
    flex-direction: column;
}
.black-2-right h3{
    color:rgb(129, 133, 137);
    font-size:1rem;
    margin-bottom:0;
}
.black-2-right h2{
    margin-top:0;
    color: rgb(128, 163, 234);
    font-size:2.5rem;
    width:500px;
    margin-bottom:20px;
}
.black-2-right p{
    width:500px;
    margin-top:0;
    margin-bottom:90px;
}
.blackdiv-3{
    background-color: #12161d;
}
.bottom-bl{
    background-color: #12161d;
    display:flex;
    padding-top:50px;

}
.left-dv{
    z-index:2;
    display:flex;
    flex-direction: column;
    padding-left: 210px;
    width:450px;
}
.left-dv h3{
    color:rgb(128, 163, 234);
    font-size: 70px;
}
.left-dv p{
    padding-top:10px;
    line-break: 10px;;
    font-size:20px;
}
.btn-l{
    padding-top:30px;
}
.btn-l button{
    color:black;
    height:50px;
    width:123px;
    border:none;
    border-radius: 7px;
    font-size: 21px;
    font-weight: bold;
    cursor:pointer;
}
.right-dv{
    padding-left:91px;
    display:flex;
    flex-direction: column;
}
.cards{
    /* background-color:#629fe5; */
    /* background-color: #38536a; */
    background-color: #38536a;
    /* background-color: #1d3452; */
    height:322px;
    width:322px;
    border-radius:10px;
}
.cardbox{
    background-color:#12161d;
    display:flex;
    padding-bottom:30px;
    gap:30px;
}
.min-img {
    height: 117px;
    width: 267px;
    padding: 10px;
    margin-top: 17px;
    margin-left: 18px;
    margin-right: 21px;
    background-color: #6699CC;
    border-radius:10px;
    /* display:flex; */
    /* justify-content: center;; */
}
.box-txt {
    margin-left: 19px;
    margin-top: 16px;
    width: 283px;
}
.box-txt h1{
    font-size:30px;
    padding-bottom:30px;
}
.box-txt pre{
    color:rgb(129, 133, 137);
    font-weight: bold;
    font-size:18px;
}
.btm{
    /* background-color:#F5F5F5; */
    display:flex;
    flex-direction: column;
    align-items: center;
}
.para {
    /* background-color: #FAF9F6; */
    /* background-color: #F5F5F5; */
    background-color: #DEDEDE;
    border-radius:15px;
    box-shadow:10px solid black;
    margin-top: 37px;
    margin-bottom: 10px;
    height: 533px;
    width: 663px;
    z-index:3;
}
.btm h1{
    margin-top:118px;
    color:#082449;
    font-size:4rem;
    letter-spacing: -0.3rem;
}
.up-qts{
    position: absolute;
    top:3212px;;
    left:290px;
    z-index:-4;
}
.lo-qts{
    position: absolute;
    top:3768px;;
    left:1020px;
    z-index:-4;
}
.bl {
    margin-left: 21px;
    color:#05f;
    font-weight:bold;
    margin-top: 72px;
    width: 623px;
    line-height: 30px;;
}
.blk {
    color: black;
    margin-top: 49px;
    margin-left: 24px;
    width: 594px;
    line-height:30px;
    font-weight:bold;
}
.sign {
    display: flex;
    flex-direction: column;
    margin-top: 129px;
    margin-left: 543px;
    height: 84px;
    width: 100px;
    justify-content: flex-end;;
}
.sign p{
    color:black;
}
